.img {
    border-radius: 50%;
    object-fit: none;
    object-position: top;
}

.name, .role, .experience {
    margin: 0;
    text-align: center;
    font-size: 16px;
}

.name {
    text-transform: uppercase;
}

.name > span {
    color: #0360c0;
}

.role {
    color: #222222;
}

.experience {
    color: #898989;
}