.root {
    margin-top: 30px;
}

.top {
    background: url("../../assets/images/default/promo-min.jpg");
}

.topText {
    font-size: 34px;
    margin: 0 auto;
    padding: 75px 0 75px 0;
    max-width: 760px;
    text-align: center;
    color: #fff;
}

.bottomContainer {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: center;
}

.bottom {
    background: #0360c0;
    padding: 75px 0;
    font-size: 36px;
}

.bottomText {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.bottomTextSecond {
    color: #ff9001;
}

.img {
    text-align: center;
}

.why__top {
    color: #ff9001;
    text-align: center;
    font-size: 18px;
}

.why__bottom {
    text-align: center;
    font-size: 16px;
    color: #fff;
    max-width: 325px;
}