.root {
    background: #eff5fc;
    padding-bottom: 18px;
    padding-top: 18px;
}

.container {
    column-gap: 10px;
}

@media (max-width: 1050px) {
    .logo {
        height: 60px;
        width: 60px;
    }
    .number {
        display: none;
    }
    .menuBlock {
        display: none !important;
    }
    .socialContainer {
        justify-content: center;
    }

    .consult {
        font-size: 12px;
    }
}
