.root {
    height: 142px;
    margin-top: 55px;
    background: #0360c0 url('../../../public/images/default/backgroundHelp.jpg') right center no-repeat;
}

.image {
    position: absolute;
    right: 0;
    bottom: 0;
}

.button {
    height: fit-content;
    margin-right: 215px !important;
    background: #fff !important;
    color: #0360c0 !important;
    z-index: 1;
}

.h2 {
    color: #fff;
    margin: 0;
    z-index: 1;
}

.h4 {
    max-width: 480px;
    color: #fff;
    margin: 0;
    z-index: 1;
}

@media (max-width: 750px) {
    .button {
        margin-right: 0 !important;
    }
}