.root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 43px;
    font-weight: 1000;
    line-height: 48px;
    text-transform: uppercase;
    color: #0360c0;
    margin: 5px auto;
    width: max-content;
    max-width: 540px;
}

.list {
    padding: 0;
}

.subtitle {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 34px;
    color: #ff9001
}

.additional {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: left;
}

.img {
    overflow: hidden;
    position: relative;
}

.img > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.img:hover img {
    filter: brightness(0.8);
}

.img > img {
    border-radius: 12px;
    object-fit: cover;
    width: 270px;
    height: 220px;
    margin: 0 auto;
    filter: brightness(0.6);
}

.bottomSection {
    padding: 0;
}

@media (max-width: 1250px) {
    .bottomSection {
        padding: 0 20px;
    }
}

@media (max-width: 1050px) {
    .img {
        display: none;
    }

    .root {
        justify-content: center;
        text-align: center;
    }

    .title {
        width: min-content;
    }
}